<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demach"
    android:versionCode="1"
    android:versionName="1.0" >

  	<!-- Konotor uses the internet to send feedback messages back to you -->
  	<uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  	<!-- Voice messages are stored in external storage -->
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  	<!-- Used by Konotor to record voice -->
  	<uses-permission android:name="android.permission.RECORD_AUDIO" />
  	<!-- Needed by Google GCM -->
  	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  	<!-- Needed by Google GCM -->
  	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />    

  	<!-- GCM requires a minimum version SDK of 8. Voice needs version 10 -->
  	
    <application>
    	<activity android:name="com.demach.konotor.KonotorFeedbackActivity"
    	    android:screenOrientation="portrait"
    	    ></activity>
    	<activity android:name="com.demach.konotor.KonotorPhotoViewActivity"
    	    android:screenOrientation="portrait"
    	    ></activity>    	
    	<service android:name=".konotor.service.KonotorService"></service>
    	<service android:name=".konotor.service.KonotorBacklogService"></service>
    	<receiver android:name=".konotor.KonotorAlarmReceiver"></receiver>
    	<receiver android:name=".konotor.NetworkStateReceiver">
    	    <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
    	</receiver>
    </application>
    
</manifest>
